.idea/*
models/*
*.mp4
*.avi
*.jpg
!参考.jpg
!positive1.mp4
./main_code/climbing_logs
!竞业达智能视频算法原始逻辑流程图.jpg
*.jpeg
*.png
./main_code/runs/*
*.pt
!yolov8m.pt
!yolov8m20240606.pt
!yolov8n-pose.pt
./images/
*.txt
*.cache
./temp_images/*
main_code/models/